  @page "/EcMultiSelectIssue449Test"
@using System.Globalization;
@using EnchantedCoder

  <div style="border:1px solid blue">
     <EcGrid TItem="string" DataProvider="GetGridData" PageSize="10">
         <Columns>
             <EcGridColumn HeaderText="EcMultiSelect">
                 <ItemTemplate>
                     <EcMultiSelect TItem="Person"
                                    TValue="string"
                                    Data="@people"
                                    @bind-Value="@selectedPersonsInitials"
                                    TextSelector="@(p => p.Name)"
                                    ValueSelector="@(p => p.Initials)" />

                 </ItemTemplate>
             </EcGridColumn>
             <EcGridColumn HeaderText="EcSelect">
                 <ItemTemplate>
                     <EcSelect TItem="Person"
                               TValue="string"
                               Data="@people"
                               @bind-Value="selectedInitials"
                               TextSelector="@(p => p.Name)"
                               ValueSelector="@(p => p.Initials)"
                               Nullable="true" />
                 </ItemTemplate>
             </EcGridColumn>
         </Columns>
     </EcGrid>
 </div>
 @code {
     private string selectedInitials;
     private List<Person> people;
     private List<string> selectedPersonsInitials { get; set; } = new();
     protected override async Task OnInitializedAsync()
     {
         await Task.Delay(1000); // simulates slow server API call

         people = new List<Person>
         {
             new Person("Starr Ringo", "RS"),
             new Person("Lennon John", "JL"),
             new Person("McCartney Paul", "PMC"),
             new Person("Harrison George", "GH")
         };
     }

     private record Person(string Name, string Initials);
     private Task<GridDataProviderResult<string>> GetGridData(GridDataProviderRequest<string> request)
     {
         return Task.FromResult(new GridDataProviderResult<string>
             {
                 Data = new[] { "JL" },
                 TotalCount = 1
             });
     }
 }