@page "/InputsWithoutEditContextTest"
@using System.Globalization;
@using EnchantedCoder

<h1>Inputs without EditContext</h1>

<EcInputText Label="Text" @bind-Value="@text" />

<EcInputNumber Label="Integer (nullable)" @bind-Value="@nullableIntegerValue" ParsingErrorMessage="Enter correct Integer." />

<EcInputNumber Label="Decimal" @bind-Value="@decimalValue" ParsingErrorMessage="Enter correct Decimal." />
<EcInputDate Label="Date" @bind-Value="@dateValue" ParsingErrorMessage="Enter correct Date." />
<EcInputDateRange Label="DateRange" @bind-Value="@dateRangeValue" FromParsingErrorMessage="Enter correct date from." ToParsingErrorMessage="Enter correct date to." />

<EcCheckbox Text="Checkbox" @bind-Value="@boolValue" />
<EcCheckbox Text="Checkbox" CssClass="form-switch" @bind-Value="@boolValue" />

<EcSubmit Icon="@BootstrapIcon.Check" Color="ThemeColor.Primary">Submit</EcSubmit>

@code
{
	private string text;
	private int? nullableIntegerValue;
	private decimal decimalValue;
	private DateTime dateValue;
	private DateTimeRange dateRangeValue;
	private bool boolValue;
}
