<EcSidebar CssClass="sticky-md-top sidebar">
    <HeaderTemplate>
        <EcSidebarBrand BrandName="EnchantedCoder Blazor">
            <LogoTemplate>
                <img src="/logo.png" width="35" height="35" />
            </LogoTemplate>
        </EcSidebarBrand>
		<EnchantedCoder.Blazor.Components.Web.Bootstrap.Documentation.Shared.Components.DocColorMode.DocColorModeSwitcher />
    </HeaderTemplate>
    <ItemsTemplate>
        <Search />

        <EcSidebarItem Text="Getting started" Href="/" Match="NavLinkMatch.All" Icon="BootstrapIcon.House" />
        <EcSidebarItem Text="Migration to v4 🔥" Href="/migrating" Match="NavLinkMatch.All" Icon="BootstrapIcon.ArrowUpCircle" />

        <EcSidebarItem Text="Forms" Icon="BootstrapIcon.InputCursorText">
            <EcSidebarItem Href="/components/Inputs" Text="Inputs" />
            <EcSidebarItem Href="@($"/components/{nameof(EcAutosuggest)}")" Text="@nameof(EcAutosuggest)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcCalendar)}")" Text="@nameof(EcCalendar)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputDate)}")" Text="@(nameof(EcInputDate))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputDateRange)}")" Text="@(nameof(EcInputDateRange))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputFile)}")" Text="@(nameof(EcInputFile) + "[Core]")" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputFileDropZone)}")" Text="@(nameof(EcInputFileDropZone))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputNumber)}")" Text="@(nameof(EcInputNumber))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputPercent<object>)}")" Text="@(nameof(EcInputPercent<object>))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputRange)}")" Text="@(nameof(EcInputRange))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputTags)}")" Text="@(nameof(EcInputTags))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputText)}")" Text="@(nameof(EcInputText))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputTextArea)}")" Text="@(nameof(EcInputTextArea))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcCheckbox)}")" Text="@(nameof(EcCheckbox))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcCheckboxList<object, object>)}")" Text="@(nameof(EcCheckboxList<object, object>))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcSwitch)}")" Text="@(nameof(EcSwitch))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcFormState)}")" Text="@nameof(EcFormState)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcFormValue)}")" Text="@(nameof(EcFormValue))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcRadioButtonList<object, object>)}")" Text="@nameof(EcRadioButtonList<object, object>)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcSelect)}")" Text="@nameof(EcSelect)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcMultiSelect<object, object>)}")" Text="@nameof(EcMultiSelect<object, object>)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcSearchBox<object>)}")" Text="@nameof(EcSearchBox<object>)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcFilterForm<object>)}")" Text="@(nameof(EcFilterForm<object>))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcValidationMessage<object>)}")" Text="@(nameof(EcValidationMessage<object>))" />
        </EcSidebarItem>

        <EcSidebarItem Text="Buttons & Indicators" Icon="BootstrapIcon.PlayBtn">
            <EcSidebarItem Href="@($"/components/{nameof(EcButton)}")" Text="@(nameof(EcButton) + " & " + nameof(EcSubmit))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcButtonGroup)}")" Text="@nameof(EcButtonGroup)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcButtonToolbar)}#{nameof(EcButtonToolbar)}")" Text="@nameof(EcButtonToolbar)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcCloseButton)}")" Text="@nameof(EcCloseButton)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcSubmit)}#{nameof(EcSubmit)}")" Text="@nameof(EcSubmit)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcDropdownButtonGroup)}")" Text="@nameof(EcDropdownButtonGroup)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcBadge)}")" Text="@nameof(EcBadge)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcChipList)}")" Text="@(nameof(EcChipList))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcSpinner)}")" Text="@nameof(EcSpinner)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcProgress)}")" Text="@nameof(EcProgress)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcProgressIndicator)}")" Text="@nameof(EcProgressIndicator)" />
        </EcSidebarItem>

        <EcSidebarItem Text="Data & Grid" Icon="BootstrapIcon.Table">
            <EcSidebarItem Href="@($"/components/{nameof(EcGrid<object>)}")" Text="@nameof(EcGrid<object>)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcContextMenu)}")" Text="@(nameof(EcContextMenu))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcPager)}")" Text="@(nameof(EcPager))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcRepeater<object>)}")" Text="@nameof(EcRepeater<object>)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcTreeView<object>)}")" Text="@(nameof(EcTreeView<object>))" />
        </EcSidebarItem>

        <EcSidebarItem Text="Layout & Typography" Icon="BootstrapIcon.LayoutWtf">
            <EcSidebarItem Href="@($"/components/{nameof(EcAccordion)}")" Text="@nameof(EcAccordion)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcAlert)}")" Text="@nameof(EcAlert)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcCard)}")" Text="@nameof(EcCard)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcCarousel)}")" Text="@nameof(EcCarousel)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcCollapse)}")" Text="@(nameof(EcCollapse))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcDropdown)}")" Text="@nameof(EcDropdown)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcIcon)}")" Text="@nameof(EcIcon)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcPlaceholder)}")" Text="@nameof(EcPlaceholder)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcTooltip)}")" Text="@nameof(EcTooltip)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcTabPanel)}")" Text="@nameof(EcTabPanel)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcListGroup)}")" Text="@(nameof(EcListGroup))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcListLayout)}")" Text="@(nameof(EcListLayout))" />
        </EcSidebarItem>

        <EcSidebarItem Text="Navigation" Icon="BootstrapIcon.SignpostSplit">
            <EcSidebarItem Href="@($"/components/{nameof(EcNavbar)}")" Text="@nameof(EcNavbar)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcSidebar)}")" Text="@nameof(EcSidebar)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcNav)}")" Text="@nameof(EcNav)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcNavLink)}#{nameof(EcNavLink)}")" Text="@nameof(EcNavLink)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcScrollspy)}")" Text="@nameof(EcScrollspy)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcBreadcrumb)}")" Text="@nameof(EcBreadcrumb)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcAnchorFragmentNavigation)}")" Text="@nameof(EcAnchorFragmentNavigation)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcContextMenu)}")" Text="@(nameof(EcContextMenu))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcDropdown)}")" Text="@nameof(EcDropdown)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcTabPanel)}")" Text="@nameof(EcTabPanel)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcRedirectTo)}")" Text="@nameof(EcRedirectTo)" />
        </EcSidebarItem>

        <EcSidebarItem Text="Modals & Interactions" Icon="BootstrapIcon.ChatText">
            <EcSidebarItem Href="@($"/components/{nameof(EcMessageBox)}")" Text="@nameof(EcMessageBox)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcModal)}")" Text="@nameof(EcModal)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcDialogBase<object>)}")" Text="@nameof(EcDialogBase<object>)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcOffcanvas)}")" Text="@nameof(EcOffcanvas)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcMessenger)}")" Text="@nameof(EcMessenger)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcToast)}")" Text="@nameof(EcToast)" />
        </EcSidebarItem>

        <EcSidebarItem Text="Special" Icon="BootstrapIcon.Stars">
            <EcSidebarItem Href="@($"/components/{nameof(EcDynamicElement)}")" Text="@nameof(EcDynamicElement)" />
            <EcSidebarItem Href="@($"/components/{nameof(EnchantedCoder.Blazor.GoogleTagManager.EcGoogleTagManager)}")" Text="@nameof(EnchantedCoder.Blazor.GoogleTagManager.EcGoogleTagManager)" />
        </EcSidebarItem>

        <EcSidebarItem Text="Concepts" Icon="BootstrapIcon.Lightbulb">
            <EcSidebarItem Href="/concepts/defaults-and-settings" Text="Defaults & Settings" />
            <EcSidebarItem Href="/concepts/Debouncer" Text="Debouncer" />
            <EcSidebarItem Href="/concepts/dark-color-mode-theme" Text="Dark color mode" />
        </EcSidebarItem>

        <EcSidebarItem Text="All Components" Icon="BootstrapIcon.SortAlphaDown" ExpandOnMatch="false">
            <EcSidebarItem Href="@($"/components/{nameof(EcAnchorFragmentNavigation)}")" Text="@nameof(EcAnchorFragmentNavigation)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcAccordion)}")" Text="@nameof(EcAccordion)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcAlert)}")" Text="@nameof(EcAlert)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcAutosuggest)}")" Text="@nameof(EcAutosuggest)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcBadge)}")" Text="@nameof(EcBadge)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcBreadcrumb)}")" Text="@nameof(EcBreadcrumb)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcButton)}")" Text="@nameof(EcButton)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcButtonGroup)}")" Text="@nameof(EcButtonGroup)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcButtonToolbar)}#{nameof(EcButtonToolbar)}")" Text="@nameof(EcButtonToolbar)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcCalendar)}")" Text="@nameof(EcCalendar)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcCard)}")" Text="@nameof(EcCard)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcCarousel)}")" Text="@nameof(EcCarousel)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcCheckbox)}")" Text="@(nameof(EcCheckbox))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcCheckboxList<object, object>)}")" Text="@(nameof(EcCheckboxList<object, object>))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcChipList)}")" Text="@(nameof(EcChipList))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcCloseButton)}")" Text="@nameof(EcCloseButton)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcCollapse)}")" Text="@(nameof(EcCollapse))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcContextMenu)}")" Text="@(nameof(EcContextMenu))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcDialogBase<object>)}")" Text="@nameof(EcDialogBase<object>)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcDropdown)}")" Text="@nameof(EcDropdown)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcDropdownButtonGroup)}")" Text="@nameof(EcDropdownButtonGroup)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcDynamicElement)}")" Text="@nameof(EcDynamicElement)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcFilterForm<object>)}")" Text="@(nameof(EcFilterForm<object>))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcFormState)}")" Text="@nameof(EcFormState)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcFormValue)}")" Text="@(nameof(EcFormValue))" />
            <EcSidebarItem Href="@($"/components/{nameof(EnchantedCoder.Blazor.GoogleTagManager.EcGoogleTagManager)}")" Text="@nameof(EnchantedCoder.Blazor.GoogleTagManager.EcGoogleTagManager)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcGrid<object>)}")" Text="@nameof(EcGrid<object>)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcIcon)}")" Text="@nameof(EcIcon)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputDate)}")" Text="@nameof(EcInputDate)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputDateRange)}")" Text="@nameof(EcInputDateRange)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputFile)}")" Text="@(nameof(EcInputFile) + "[Core]")" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputFileDropZone)}")" Text="@(nameof(EcInputFileDropZone))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputNumber)}")" Text="@(nameof(EcInputNumber))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputPercent<object>)}")" Text="@(nameof(EcInputPercent<object>))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputRange)}")" Text="@(nameof(EcInputRange))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputTags)}")" Text="@(nameof(EcInputTags))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputText)}")" Text="@(nameof(EcInputText))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcInputTextArea)}")" Text="@(nameof(EcInputTextArea))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcListGroup)}")" Text="@(nameof(EcListGroup))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcListLayout)}")" Text="@(nameof(EcListLayout))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcMessageBox)}")" Text="@nameof(EcMessageBox)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcMessenger)}")" Text="@nameof(EcMessenger)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcModal)}")" Text="@nameof(EcModal)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcMultiSelect<object, object>)}")" Text="@nameof(EcMultiSelect<object, object>)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcNav)}")" Text="@nameof(EcNav)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcNavbar)}")" Text="@nameof(EcNavbar)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcNavLink)}#{nameof(EcNavLink)}")" Text="@nameof(EcNavLink)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcNamedViewList<object>)}")" Text="@(nameof(EcNamedViewList<object>))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcOffcanvas)}")" Text="@nameof(EcOffcanvas)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcPager)}")" Text="@(nameof(EcPager))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcPlaceholder)}")" Text="@nameof(EcPlaceholder)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcPopover)}")" Text="@nameof(EcPopover)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcProgress)}")" Text="@nameof(EcProgress)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcProgressIndicator)}")" Text="@nameof(EcProgressIndicator)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcRadioButtonList<object, object>)}")" Text="@nameof(EcRadioButtonList<object, object>)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcRedirectTo)}")" Text="@nameof(EcRedirectTo)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcRepeater<object>)}")" Text="@nameof(EcRepeater<object>)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcScrollspy)}")" Text="@nameof(EcScrollspy)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcSearchBox<object>)}")" Text="@nameof(EcSearchBox<object>)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcSelect)}")" Text="@nameof(EcSelect)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcSidebar)}")" Text="@nameof(EcSidebar)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcSpinner)}")" Text="@nameof(EcSpinner)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcSubmit)}#{nameof(EcSubmit)}")" Text="@nameof(EcSubmit)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcSwitch)}")" Text="@(nameof(EcSwitch))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcTabPanel)}")" Text="@nameof(EcTabPanel)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcToast)}")" Text="@nameof(EcToast)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcTooltip)}")" Text="@nameof(EcTooltip)" />
            <EcSidebarItem Href="@($"/components/{nameof(EcTreeView<object>)}")" Text="@(nameof(EcTreeView<object>))" />
            <EcSidebarItem Href="@($"/components/{nameof(EcValidationMessage<object>)}")" Text="@(nameof(EcValidationMessage<object>))" />
        </EcSidebarItem>
    </ItemsTemplate>
    <FooterTemplate>
        <EcSelect Label="Theme" TItem="Theme" CssClass="w-100 me-2" TValue="Theme" Data="themes" @bind-Value="selectedTheme" TextSelector="t => t.Name" Nullable="true" NullText="EnchantedCoder.Blazor" />
        <a href="https://github.com/EnchantedCoder/EnchantedCoder.Blazor" class="text-decoration-none text-secondary d-flex align-items-center ms-2">
            <EcIcon Icon="BootstrapIcon.Github" CssClass="align-self-end mb-1 fs-5"/>
        </a>
    </FooterTemplate>
</EcSidebar>

<HeadContent>
    @if (selectedTheme?.Name == "Bootstrap 5")
    {
		@((MarkupString)EcSetup.RenderBootstrapCssReference(BootstrapFlavor.PlainBootstrap))
    }
    else if (selectedTheme is not null) // null = EnchantedCoder Bootstrap build (default)
    {
        <link href="@selectedTheme.CssCdn" rel="stylesheet" />
    }
</HeadContent>
