<EcInputText Label="Input groups (text)" @bind-Value="@value" InputGroupStartText="€" InputGroupEndText=".00" />
<EcInputText Label="Input groups (icon)" @bind-Value="@value">
	<InputGroupStartTemplate>
		<EcIcon CssClass="input-group-text" Icon="BootstrapIcon.CurrencyEuro" />
	</InputGroupStartTemplate>
</EcInputText>

<EcInputText Label="Input groups (template with button/dropdown)" @bind-Value="@value">
	<InputGroupStartTemplate>
		<EcButton Text="Button" Color="ThemeColor.Secondary" Outline="true" />
		<EcButton Text="Button 2" Color="ThemeColor.Secondary" Outline="true" />
	</InputGroupStartTemplate>
	<InputGroupEndTemplate>
		@* Bootstrap does not expect any <EcDropdown /> wrapper here. *@
		<EcDropdownToggleButton Text="Dropdown" Color="ThemeColor.Secondary" Outline="true" />
		<EcDropdownMenu>
			<EcDropdownItem>Item 1</EcDropdownItem>
			<EcDropdownItem>Item 2</EcDropdownItem>
		</EcDropdownMenu>
	</InputGroupEndTemplate>
</EcInputText>

<EcInputText Label="Input groups (template with checkbox/radio)" @bind-Value="@value">
	<InputGroupStartTemplate>
		<div class="input-group-text">
			<EcCheckbox @bind-Value="@valueBool" CssClass="mt-0" />
		</div>
	</InputGroupStartTemplate>
</EcInputText>

@code
{
	private string value;
	private bool valueBool;
}
